# Le machine Learning avec python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
#on affiche le répertoire de travail
%pwd

'C:\\Users\\Emmanuel\\Documents\\Formations\\Formations\\Formations big data\\formaiton big data adv\\clé USB'

In [11]:
#on affiche les variables chargées en mémoire
%whos

Variable   Type         Data/Info
---------------------------------
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
plt        module       <module 'matplotlib.pyplo<...>\\matplotlib\\pyplot.py'>
telecom    DataFrame         State  Account Lengt<...>n[3333 rows x 21 columns]

In [12]:
#on calcule le temps nécessaire au traitement
%time print("coucou")

coucou
Wall time: 0 ns

On va donc étudier des données de churn en telecom

Importez les données avec pandas telecom.csv

In [3]:
telecom=pd.read_csv("telecom.csv")

In [9]:
#afficher les 5 premières lignes
telecom.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [5]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
State             3333 non-null object
Account Length    3333 non-null int64
Area Code         3333 non-null int64
Phone             3333 non-null object
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         3333 non-null int64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null int64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [13]:
%time telecom.describe(include="all")

Wall time: 44 ms

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
count,3333,3333.000000,3333.000000,3333,3333,3333,3333.000000,3333.000000,3333.000000,3333.000000,...,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333
unique,51,NaN,NaN,3333,2,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,WV,NaN,NaN,349-4979,no,no,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False.
freq,106,NaN,NaN,1,3010,2411,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2850
mean,NaN,101.064806,437.182418,NaN,NaN,NaN,8.099010,179.775098,100.435644,30.562307,...,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,NaN
std,NaN,39.822106,42.371290,NaN,NaN,NaN,13.688365,54.467389,20.069084,9.259435,...,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,NaN
min,NaN,1.000000,408.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,74.000000,408.000000,NaN,NaN,NaN,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,NaN
50%,NaN,101.000000,415.000000,NaN,NaN,NaN,0.000000,179.400000,101.000000,30.500000,...,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,NaN
75%,NaN,127.000000,510.000000,NaN,NaN,NaN,20.000000,216.400000,114.000000,36.790000,...,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,NaN
max,NaN,243.000000,510.000000,NaN,NaN,NaN,51.000000,350.800000,165.000000,59.640000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,NaN

Vérifiez qu'il n'y a pas de problèmes dans les données

In [14]:
#on construit la variable de classification
y=np.where(telecom["Churn?"]=="True.",1,0)

In [18]:
telecom.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [19]:
#on construit les prédicteurs
x=telecom[['Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls']]

In [20]:
def preparation(frame,nom_y,liste_x):
    y=np.where(frame[nom_y]=="True.",1,0)
    x=frame[liste_x]
    return x, y

In [21]:
liste_x=['Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls']

x,y=preparation(telecom,"Churn?",liste_x)

In [22]:
x.head()

,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [24]:
y

array([0, 0, 0, ..., 0, 0, 0])

Une fois les données néttoyées, on va essayer de modéliser le churn en utilisant différentes approches

L'objectif est de créer un modèle prédictif que l'on testera sur des données tests qui soit le plus efficace possible

In [25]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test,y_train,  y_test = train_test_split(x,y,test_size=0.2)

In [35]:
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(2666, 13) (2666,) (667, 13) (667,)

On va utiliser 4 modèles connus :
    - K-NN
    - SVM
    - RF
    - GBM

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

Le modèle est validé avec différents critères

In [29]:
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score
from sklearn.metrics import roc_auc_score

In [40]:
#on crée l'objet modele
modele_knn=KNeighborsClassifier(n_neighbors=10)
modele_svm=SVC()
modele_rf=RandomForestClassifier(n_estimators=1000)
modele_gbm=GradientBoostingClassifier()

In [44]:
#on ajuste le modèle
modele_knn.fit(x_train,y_train)
modele_svm.fit(x_train,y_train)
modele_rf.fit(x_train,y_train)
modele_gbm.fit(x_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [45]:
predicted_knn=modele_knn.predict(x_test)
predicted_svm=modele_svm.predict(x_test)
predicted_rf=modele_rf.predict(x_test)
predicted_gbm=modele_gbm.predict(x_test)

In [48]:
confusion_matrix(y_test,predicted_svm)

array([[575,   0],
       [ 92,   0]])

In [49]:
accuracy_score(y_test,predicted_svm)

0.86206896551724133

In [68]:
print("AUC pour knn :", roc_auc_score(y_test,predicted_knn))
print("AUC pour svm :", roc_auc_score(y_test,predicted_svm))
print("AUC pour rf :", roc_auc_score(y_test,predicted_rf))
print("AUC pour gbm :", roc_auc_score(y_test,predicted_gbm))

AUC pour knn : 0.604347826087
AUC pour svm : 0.5
AUC pour rf : 0.738695652174
AUC pour gbm : 0.726956521739

Quel est le meilleur modèle ?

### Aller plus loin : Définir les hyper-paramètres

On va essayer de trouver les hyper-paramètres les plus adaptés<br>
Pour cela on va utiliser un grid search par validation croisée

In [50]:
from sklearn.model_selection import GridSearchCV

In [56]:
dico_hparam={"n_estimators":[10,100,1000],"max_depth":[5,7,9]}
dico_hparam

{'max_depth': [5, 7, 9], 'n_estimators': [10, 100, 1000]}

In [63]:
grid_search_rf=GridSearchCV(modele_rf,dico_hparam,scoring="roc_auc")

In [64]:
grid_search_rf.fit(x,y)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False,
            random_state=None, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [10, 100, 1000], 'max_depth': [5, 7, 9]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='roc_auc', verbose=0)

In [66]:
print("Meilleurs paramètres de l'arbre :",
      grid_search_rf.best_params_)
print("Valeur de l'AUC pour les paramètres :",
     grid_search_rf.best_score_)

Meilleurs paramètres de l'arbre : {'max_depth': 7, 'n_estimators': 1000}
Valeur de l'AUC pour les paramètres : 0.865428789365

In [71]:
grid_search_rf.grid_scores_

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:667: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.86117, std: 0.01099, params: {'max_depth': 5, 'n_estimators': 10},
 mean: 0.86210, std: 0.00792, params: {'max_depth': 5, 'n_estimators': 100},
 mean: 0.86352, std: 0.00838, params: {'max_depth': 5, 'n_estimators': 1000},
 mean: 0.85139, std: 0.00867, params: {'max_depth': 7, 'n_estimators': 10},
 mean: 0.86275, std: 0.01088, params: {'max_depth': 7, 'n_estimators': 100},
 mean: 0.86543, std: 0.00886, params: {'max_depth': 7, 'n_estimators': 1000},
 mean: 0.86186, std: 0.00726, params: {'max_depth': 9, 'n_estimators': 10},
 mean: 0.86017, std: 0.00733, params: {'max_depth': 9, 'n_estimators': 100},
 mean: 0.86361, std: 0.00592, params: {'max_depth': 9, 'n_estimators': 1000}]

Quel est le meilleur modèle et avec quels paramètres ?